@reference '../../../base.css';

.Teams {
  .shadow-md-top {
    @apply shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1),0_-2px_4px_-2px_rgba(0,0,0,0.1)];
  }

  .col-number {
    @apply text-center;
  }

  .col-language {
    width: 150px;
  }

  .col-actions {
    @apply flex justify-center gap-4;
  }

  td.col-actions > button > svg {
    @apply size-6 cursor-pointer hover:brightness-75;
  }
}
