@reference '../../../base.css';

.Events {
  @apply flex-1 relative flex flex-col overflow-auto bg-base-100/50;

  .Events__content {
    @apply flex-1 p-8 overflow-auto;
  }

  .Events__grid {
    @apply inline-flex flex-wrap gap-8;
  }
}
