@reference '../../../base.css';

.Grade {
  .question-badge {
    @apply size-10 rounded-xl text-base-100 text-lg font-semibold flex items-center justify-center bg-gradient-to-br shadow-inner ring-1 ring-accent/30 ring-offset-1 ring-offset-base-100 transition-transform cursor-pointer;
    @apply from-gray-300 via-gray-500 to-slate-600 opacity-75;
    @apply transition-colors duration-300;
  }

  .question-badge:hover {
    @apply ring-2 ring-secondary;
  }

  .question-badge--selected {
    @apply ring-secondary ring-2 text-base-content;
  }

  .question-badge--active {
    @apply from-info via-sky-500 to-indigo-600;
  }

  .question-badge--locked {
    @apply from-warning via-yellow-500 to-amber-600;
  }

  .question-badge--active-locked {
    @apply from-sky-600 via-yellow-300 to-sky-600;
  }

  .question-badge--graded {
    @apply from-green-500 via-emerald-500 to-teal-600;
  }

  .question-badge--active-graded {
    @apply from-sky-600 via-green-300 to-sky-600;
  }
}
