@reference '../../../base.css';

.Grade {
  .question-badge {
    @apply size-10 rounded-xl text-base-100 text-lg font-semibold flex items-center justify-center bg-gradient-to-br shadow-inner ring-1 ring-accent/30 ring-offset-1 ring-offset-base-100 transition-transform cursor-pointer;
    @apply from-gray-500 via-gray-700 to-slate-900 opacity-75;
  }

  .question-badge:hover {
    @apply ring-2 ring-secondary;
  }

  .question-badge--selected {
    @apply from-orange-400 via-orange-500 to-orange-600;
  }

  .question-badge--active {
    @apply from-info via-sky-500 to-indigo-500;
  }
}
